/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

:root {
  font-family: "Share Tech Mono", monospace;
  line-height: 1.5;

  color-scheme: inherit;
  color: inherit;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 85%;
  padding: auto;
  margin: auto;
  font-size: 1.2rem;
}

.background .darkBackground {
  background-color: #2F0D68;
  z-index: -10;
}

.background .lightBackground {
  background-color: #83CD29;
  z-index: -10;
}

.contain_main {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;*/
  z-index: -5;
  pointer-events: none;
}

.contain {
  z-index: 1;
}

.darkBackground {
  background: url('/src/assets/imgs/night_background_image_ii.png') center center / cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.darkTheme {
  color: #83CD29;

}

.lightBackground {
  background: url('/src/assets/imgs/bright_background_image_ii.png') center center / cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.lightTheme {
  color: #4D179A;

}


.footer_icon:hover {
  border-radius: 50%;
  background-color: hsla(257, 100%, 76%, 0.557);
  box-shadow:
    0 0 7px 5px #a784ff8e;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}
h2 {
  font-size: 1.5em;
  line-height: 1.1;
}

.darkTheme>form>:placeholder-shown {
  color: #83CD29;
}

.lightTheme>form>:placeholder-shown {
  color: #4D179A;
}

.textareaContact{
  min-width: 20rem;
  min-height: 8rem;
  padding: 0.5rem;

}

.btnContact {
  margin: 2rem;
  padding: 0.5rem;
  border: solid 2px currentColor;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.darkTheme>form>.btnContact:hover {
  box-shadow: 0px 0px 10px 5px #83CD29;
  background-color: #2e0d6871;
}

.lightTheme>form>.btnContact:hover {
  box-shadow: 0px 0px 10px 5px #4D179A;
  background-color: #83CD2971;
}

.darkTheme>form>.btnContact:active {
  background-color: #2e0d68;
}

.lightTheme>form>.btnContact:active {
  background-color: #83CD29;
}